*{
    padding: 0px;
    margin: 0px;
}
li{
list-style: none;
display: inline;
height:20px;
width:20px;
padding:10px;
font-size:medium;
}
li:hover{
   color:lawngreen;
    cursor: pointer;
}
div{
background-color:darkslategrey;
padding:10px;
text-align: center;
text-decoration: none;
color: white;
}
#pad{ 
    list-style: none;
    display:inline;
    font-size:large;
    color: black; 
}

.note{
    background-color: lightgrey;
    text-align:left ;
    padding: 15px;
}
#idi{
    list-style: none;
    display:inline;
    font-size:large;
    color: black;
    text-align: right; 
   
}

